.container {
    background-image: url('../../Assets/fondo-rick-morty-portal.jpg');
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;

}

.tittle {
    color: #FFFFFF;
    margin-left: 28px;
    
}