input {
    border-radius: 8px;
    border: 2px;
    /* border-color: #000000; */
    background-color:#FFFFFF;
    /* color: #000000; */
    
}

.formSearch {
    margin-left: 50px;
    /* border-radius: 10px;
    border: 1px; */
    /* background-color: #FFFFFF; */
}